<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head>
		<meta charset="UTF-8" th:remove="tag">
	</head>
	<body>
		<div layout:fragment="content">
			<h1 class="page-header">イベント編集</h1>
			<form th:action="@{/admin/events/edit}" th:object="${event}" method="post">
				<ul th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
				    <li th:each="err : ${#fields.errors('*')}">
				        <span th:text="${err}"></span>
				    </li>
				</ul>
				<input type="hidden" th:field="*{id}">
				<label>イベント名</label>
				<input class="form-control" type="text" th:field="*{name}">
				<label>詳細</label>
				<input class="form-control" type="text" th:field="*{detail}">
				<label>	最大参加人d数</label>
				<input class="form-control" type="text" th:field="*{max_participant}">
                <label for="category">カテゴリ</label>
          		<select name="category" class="dropdown form-control">
				    <option th:each="item : ${@categoryRepository.findAll()}" th:selected="${item.id == event.category.id}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
                <label for="user">管理ユーザー</label>
          		<select name="user" class="dropdown form-control">
				    <option th:each="item : ${@userRepository.findAll()}" th:selected="${item.id == event.user.id}" th:value="${item.id}" th:text="${item.email}"></option>
                </select>
				<input class="btn btn-primary" type="submit" value="登録">
			</form>
		</div>
	</body>
</html>